<div style="display: flex; background-color: RGB(255,114,0);" >
<h1 style="margin: auto; padding: 30px; ">LA POULE QUI CHANTE :
Préparation et nettoyage des données</h1>
</div>

# OBJECTIF DE CE NOTEBOOK

Bienvenue dans l'outil plébiscité par les analystes de données Jupyter.

Il s'agit d'un outil permettant de mixer et d'alterner codes, textes et graphique.

Cet outil est formidable pour plusieurs raisons:

+ il permet de tester des lignes de codes au fur et à mesure de votre rédaction, de constater immédiatement le résultat d'un instruction, de la corriger si nécessaire.
+ De rédiger du texte pour expliquer l'approche suivie ou les résultats d'une analyse et de le mettre en forme grâce à du code html ou plus simple avec **Markdown**
+ d'agrémenter de graphiques

Pour vous aider dans vos premiers pas à l'usage de Jupyter et de Python, nous avons rédigé ce notebook en vous indiquant les instructions à suivre.

Il vous suffit pour cela de saisir le code Python répondant à l'instruction donnée.

Vous verrez de temps à autre le code Python répondant à une instruction donnée mais cela est fait pour vous aider à comprendre la nature du travail qui vous est demandée.

Et garder à l'esprit, qu'il n'y a pas de solution unique pour résoudre un problème et qu'il y a autant de résolutions de problèmes que de développeurs ;)...

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.1 - Importation des librairies</h3>
</div>

In [5]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)

In [6]:
#Importation de la librairie plotly express
import plotly.express as px
import matplotlib.pyplot as plt
from matplotlib.ticker import MultipleLocator

In [8]:
#Trouver dans Google l'instruction permettant d'afficher toutes les colonnes d'un dataframe
#Saisir, dans Google, les mots clés "display all columns dataframe Pandas", par exemple.
#Dans les résultats de la recherche, privilégiez les solutions provenants de Stack Overflow ou Medium
pd.set_option('display.max_columns', None)

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.2 - Chargements des fichiers</h3>
</div>

In [10]:
#Importation du fichier DisponibiliteAlimentaire_2017.csv
df_dispoalim = pd.read_csv("DisponibiliteAlimentaire_2017.csv")
#Importation du fichier Population_2000_2018.csv
df_population = pd.read_csv("Population_2000_2018.csv")
#Importation du fichier PIBHabitant2017.csv
df_pib = pd.read_csv("PIBHabitant2017.csv")
#Importation du fichier kfcp11.csv
df_kfc = pd.read_csv("kfcp11.csv",)
#Importation du fichier Satbilite_politique.csv
df_stabilitepol = pd.read_csv("Stabilite_politique.csv", on_bad_lines='skip')
#Importation du fichier distance_fr.csv
df_dist = pd.read_csv("distance_fr.csv")

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Analyse exploratoire des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1 - Analyse exploratoire du df_dispoalim</h3>
</div>

In [13]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_dispoalim.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_dispoalim.shape[1]))

Le tableau comporte 176600 observation(s) ou article(s)
Le tableau comporte 14 colonne(s)

In [14]:
#La nature des données dans chacune des colonnes
df_dispoalim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB

In [15]:
#Affichage des 5 premières lignes de la table
df_dispoalim.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [16]:
#Suppression des colonnes dont nous n'avons pas besoin
df_dispoalim = df_dispoalim.drop(['Code Domaine', 'Domaine', 'Code année', 'Symbole', 'Description du Symbole'], axis=1, errors='ignore')

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1.1. - Création du df_alim, pour la volaille alimentaire par pays</h3>
</div>

In [18]:
#Filtre pour ne garder que les lignes concernant la nourriture de viande de vollailes
df_alim = df_dispoalim[(df_dispoalim['Code Élément'] == 5142 ) & (df_dispoalim['Code Produit'] == 2734)].copy()

In [19]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_alim.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_alim.shape[1]))

Le tableau comporte 170 observation(s) ou article(s)
Le tableau comporte 9 colonne(s)

In [20]:
#Affichage du nombre de valeurs nulles dans la colonne 'Valeur'
print(f"Il y a {df_alim['Valeur'].isnull().sum()} valeur(s) nulle(s) dans la colonne 'Valeur'.")

Il y a 0 valeur(s) nulle(s) dans la colonne 'Valeur'.

In [21]:
#Conversion de la colonne 'Valeur' en tonnes
df_alim.loc[:, 'Valeur'] = df_alim['Valeur'] * 1000

In [22]:
#Affichage du nombre de valeurs nulles dans la colonne 'Valeur'
print(f"Il y a {df_alim['Valeur'].isnull().sum()} valeur(s) nulle(s) dans la colonne 'Valeur'.")

Il y a 0 valeur(s) nulle(s) dans la colonne 'Valeur'.

In [23]:
#Modification du nom de la colonne 'Valeur'
df_alim = df_alim.rename(columns={'Valeur': 'Volailles alimentaire en t'})

In [24]:
#Suppression des colonnes dont nous n'avons plus besoin
df_alim = df_alim.drop(['Code zone', 'Code Élément', 'Élément', 'Code Produit', 'Produit', 'Unité'], axis=1, errors='ignore')

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1.2. - Création du df_prod, pour la volaille produite par pays</h3>
</div>

In [28]:
#Filtre pour ne garder que les lignes concernant la production de viande de vollailes
df_prod = df_dispoalim[(df_dispoalim['Code Élément'] == 5511 ) & (df_dispoalim['Code Produit'] == 2734)].copy()

In [29]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_prod.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_prod.shape[1]))

Le tableau comporte 168 observation(s) ou article(s)
Le tableau comporte 9 colonne(s)

In [30]:
#Conversion de la colonne 'Valeur' en tonnes
df_prod.loc[:, 'Valeur'] = df_prod['Valeur'] * 1000

In [31]:
#Affichage du nombre de valeurs nulles dans la colonne 'Valeur'
print(f"Il y a {df_prod['Valeur'].isnull().sum()} valeur(s) nulle(s) dans la colonne 'Valeur'.")

Il y a 0 valeur(s) nulle(s) dans la colonne 'Valeur'.

In [32]:
#Modification du nom de la colonne 'Valeur'
df_prod = df_prod.rename(columns={'Valeur': 'Volailles produites en t'})

In [35]:
#Suppression des colonnes dont nous n'avons plus besoin
df_prod = df_prod.drop(['Code zone', 'Code Élément', 'Élément', 'Année', 'Code Produit', 'Produit', 'Unité'], axis=1, errors='ignore')

In [52]:
#Jointure du df_alim au df_prod
df_total = pd.merge(df_alim, df_prod, left_on='Zone', right_on='Zone', how='outer')

In [53]:
#Identifier les lignes où la colonne 'Viande de volailles produites en t' contient des valeurs NaN
nan_tot = df_total[df_total['Volailles produites en t'].isnull()]

#Afficher les lignes avec des NaN
nan_tot['Zone'].unique()

array(['Djibouti', 'Maldives'], dtype=object)

In [56]:
#Remplacer les NaN dans la colonne 'Viande de volailles produites en t' par 0
df_total['Volailles produites en t'] = df_total['Volailles produites en t'].fillna(0)

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1.3. - Création du df_import, pour la volaille importée par pays</h3>
</div>

In [59]:
#Filtre pour ne garder que les lignes concernant les importations de viande de vollailes
df_import = df_dispoalim[(df_dispoalim['Code Élément'] == 5611 ) & (df_dispoalim['Code Produit'] == 2734)].copy()

In [61]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_import.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_import.shape[1]))

Le tableau comporte 170 observation(s) ou article(s)
Le tableau comporte 9 colonne(s)

In [63]:
#Conversion de la colonne 'Valeur' en tonnes
df_import.loc[:, 'Valeur'] = df_import['Valeur'] * 1000

In [65]:
#Affichage du nombre de valeurs nulles dans la colonne 'Valeur'
print(f"Il y a {df_import['Valeur'].isnull().sum()} valeur(s) nulle(s) dans la colonne 'Valeur'.")

Il y a 0 valeur(s) nulle(s) dans la colonne 'Valeur'.

In [67]:
#Modification du nom de la colonne 'Valeur'
df_import = df_import.rename(columns={'Valeur': 'Volailles importées en t'})

In [69]:
#Suppression des colonnes dont nous n'avons plus besoin
df_import = df_import.drop(['Code zone', 'Code Élément', 'Élément', 'Année', 'Code Produit', 'Produit', 'Unité'], axis=1, errors='ignore')

In [71]:
#Jointure du df_import au df_total
df_total = pd.merge(df_total, df_import, left_on='Zone', right_on='Zone', how='inner')

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1.4. - Création du df_export, pour la volaille exportée par pays</h3>
</div>

In [74]:
#Filtre pour ne garder que les lignes concernant les exportations de viande de vollailes
df_export = df_dispoalim[(df_dispoalim['Code Élément'] == 5911 ) & (df_dispoalim['Code Produit'] == 2734)].copy()

In [76]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_export.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_export.shape[1]))

Le tableau comporte 135 observation(s) ou article(s)
Le tableau comporte 9 colonne(s)

In [78]:
#Conversion de la colonne 'Valeur' en tonnes
df_export.loc[:, 'Valeur'] = df_export['Valeur'] * 1000

In [80]:
#Affichage du nombre de valeurs nulles dans la colonne 'Valeur'
print(f"Il y a {df_export['Valeur'].isnull().sum()} valeur(s) nulle(s) dans la colonne 'Valeur'.")

Il y a 0 valeur(s) nulle(s) dans la colonne 'Valeur'.

In [82]:
#Modification du nom de la colonne 'Valeur'
df_export = df_export.rename(columns={'Valeur': 'Volailles exportées en t'})

In [84]:
#Suppression des colonnes dont nous n'avons plus besoin
df_export = df_export.drop(['Code zone', 'Code Élément', 'Élément', 'Année', 'Code Produit', 'Produit', 'Unité'], axis=1, errors='ignore')

In [86]:
#Jointure du df_import au df_total
df_total = pd.merge(df_total, df_export, left_on='Zone', right_on='Zone', how='outer')

In [88]:
#Identifier les lignes où la colonne 'Viande de volailles produites en t' contient des valeurs NaN
nan_tot2 = df_total[df_total['Volailles exportées en t'].isnull()]

#Afficher les lignes avec des NaN
nan_tot2['Zone'].unique()

array(['Afghanistan', 'Bahamas', 'Bangladesh', 'Burkina Faso',
       'Cabo Verde', 'Cambodge', 'Cuba', 'Djibouti', 'Gambie', 'Grenade',
       'Guinée', 'Guinée-Bissau', 'Haïti', 'Kiribati', 'Madagascar',
       'Malawi', 'Maldives', 'Mali', 'Mauritanie', 'Mongolie',
       'Mozambique', 'Nouvelle-Calédonie', 'Népal',
       'République centrafricaine', 'République-Unie de Tanzanie',
       'Saint-Vincent-et-les Grenadines', 'Sainte-Lucie',
       'Sao Tomé-et-Principe', 'Soudan', 'Tadjikistan', 'Timor-Leste',
       'Turkménistan', 'Vanuatu', 'Zimbabwe', 'Éthiopie'], dtype=object)

In [90]:
#Remplacer les NaN dans la colonne 'Viandes de volailles exportées en t' par 0
df_total['Volailles exportées en t'] = df_total['Volailles exportées en t'].fillna(0)

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.2 - Analyse exploratoire du df_population</h3>
</div>

In [93]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_population.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_population.shape[1]))

Le tableau comporte 4411 observation(s) ou article(s)
Le tableau comporte 15 colonne(s)

In [95]:
#La nature des données dans chacune des colonnes
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            4411 non-null   object
 1   Domaine                 4411 non-null   object
 2   Code zone               4411 non-null   int64
 3   Zone                    4411 non-null   object
 4   Code Élément            4411 non-null   int64
 5   Élément                 4411 non-null   object
 6   Code Produit            4411 non-null   int64
 7   Produit                 4411 non-null   object
 8   Code année              4411 non-null   int64
 9   Année                   4411 non-null   int64
 10  Unité                   4411 non-null   object
 11  Valeur                  4411 non-null   float64
 12  Symbole                 4411 non-null   object
 13  Description du Symbole  4411 non-null   object
 14  Note                    258 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 517.0+ KB

In [97]:
#Affichage des 5 premières lignes de la table
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [99]:
#Filtre pour ne garder que les lignes concernant l'année 2017
df_population = df_population[(df_population['Année'] == 2017)]

In [101]:
#Multiplication de la colonne 'Valeur' par 1000 et modification du nom de celle-ci
df_population['Valeur'] = (df_population['Valeur'] * 1000).astype(int)
df_population.rename(columns={'Valeur': 'Population'}, inplace=True)

In [103]:
#Suppression des colonnes dont nous n'avons plus besoin
df_population = df_population.drop(['Code Domaine', 'Domaine', 'Code zone', 'Code Élément', 'Élément', 'Code Produit', 'Produit', 'Code année', 
                                    'Année', 'Unité', 'Symbole', 'Description du Symbole', 'Note'], axis=1, errors='ignore')

In [105]:
#Affichage du nombre de valeurs nulles dans la colonne 'Population'
print(f"Il y a {df_population['Population'].isnull().sum()} valeur(s) nulle(s) dans la colonne 'Population'.")

Il y a 0 valeur(s) nulle(s) dans la colonne 'Population'.

In [107]:
#Afficher la valeur minimum de la colonne 'Population'
print("La valeur mminimum de la colonne 'Population' est de : {}.".format(df_population['Population'].min()))
#Afficher la valeur maximum de la colonne 'Population'
print("La valeur maximum de la colonne 'Population' est de : {}.".format(df_population['Population'].max()))

La valeur mminimum de la colonne 'Population' est de : 793.
La valeur maximum de la colonne 'Population' est de : 1421021791.

In [109]:
#Jointure du df_population au df_dispoalim
df_total = pd.merge(df_total, df_population, left_on='Zone', right_on='Zone', how='inner')

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.5 - Analyse exploratoire du df_pib</h3>
</div>

In [112]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_pib.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_pib.shape[1]))

Le tableau comporte 211 observation(s) ou article(s)
Le tableau comporte 15 colonne(s)

In [114]:
#La nature des données dans chacune des colonnes
df_pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            211 non-null    object
 1   Domaine                 211 non-null    object
 2   Code zone (M49)         211 non-null    int64
 3   Zone                    211 non-null    object
 4   Code Élément            211 non-null    int64
 5   Élément                 211 non-null    object
 6   Code Produit            211 non-null    int64
 7   Produit                 211 non-null    object
 8   Code année              211 non-null    int64
 9   Année                   211 non-null    int64
 10  Unité                   211 non-null    object
 11  Valeur                  211 non-null    float64
 12  Symbole                 211 non-null    object
 13  Description du Symbole  211 non-null    object
 14  Note                    0 non-null      float64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.9+ KB

In [116]:
#Affichage des 5 premières lignes de la table
df_pib.head()

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,MK,Indicateurs macro,4,Afghanistan,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2017,2017,USD,534.020133,X,Ciffre de sources internationales,NaN
1,MK,Indicateurs macro,710,Afrique du Sud,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2017,2017,USD,6723.928582,X,Ciffre de sources internationales,NaN
2,MK,Indicateurs macro,8,Albanie,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2017,2017,USD,4521.752217,X,Ciffre de sources internationales,NaN
3,MK,Indicateurs macro,12,Algérie,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2017,2017,USD,4134.936055,X,Ciffre de sources internationales,NaN
4,MK,Indicateurs macro,276,Allemagne,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2017,2017,USD,44670.222282,X,Ciffre de sources internationales,NaN

In [118]:
#Affichage du nombre de valeurs nulles dans la colonne 'Valeur'
print(f"Il y a {df_pib['Valeur'].isnull().sum()} valeur(s) nulle(s) dans la colonne 'Valeur'.")

Il y a 0 valeur(s) nulle(s) dans la colonne 'Valeur'.

In [120]:
#Arrondir la colonne 'Valeur' à 2 chiffres après la virgule
df_pib['Valeur'] = df_pib['Valeur'].round(2)

In [122]:
#Modification du nom de la colonne 'Valeur'
df_pib.rename(columns={'Valeur': 'PIB par habitants en $'}, inplace=True)

In [124]:
#Suppression des colonnes dont nous n'avons plus besoin
df_pib = df_pib.drop(['Code Domaine', 'Domaine', 'Code zone (M49)', 'Code Élément', 'Élément', 'Code Produit', 'Produit', 'Code année', 
                                    'Année', 'Unité', 'Symbole', 'Description du Symbole', 'Note'], axis=1, errors='ignore')

In [126]:
#Afficher la valeur minimum de la colonne 'PIB par habitants en $'
print("La valeur mminimum de la colonne 'PIB par habitants en $' est de : {}.".format(df_pib['PIB par habitants en $'].min()))
#Afficher la valeur maximum de la colonne 'PIB par habitants en $'
print("La valeur maximum de la colonne 'PIB par habitants en $' est de : {}".format(df_pib['PIB par habitants en $'].max()))

La valeur mminimum de la colonne 'PIB par habitants en $' est de : 295.62.
La valeur maximum de la colonne 'PIB par habitants en $' est de : 173611.78

In [128]:
#Remplacer la valeur dans la colonne 'Zone' pour la lignes correspondant à 'Pays-Bas (Royaume des)'
df_pib.loc[df_pib['Zone'] == 'Pays-Bas (Royaume des)', 'Zone'] = 'Pays-Bas'

In [130]:
#Jointure du df_pib au df_total
df_total = pd.merge(df_total, df_pib, left_on='Zone', right_on='Zone', how='left')

In [132]:
#Identifier les lignes où la colonne 'Viande de volailles produites en t' contient des valeurs NaN
nan_tot3 = df_total[df_total['PIB par habitants en $'].isnull()]

#Afficher les lignes avec des NaN
nan_tot3['Zone'].unique()

array(['Chine, Taiwan Province de'], dtype=object)

In [134]:
#Ajout du 'PIB par habitants en $' pour Taiwan suite recherche sur Statista
df_total.loc[df_total['Zone'] == 'Chine, Taiwan Province de', 'PIB par habitants en $'] = 25061.62

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.6 - Analyse exploratoire du df_kfc</h3>
</div>

In [137]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_kfc.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_kfc.shape[1]))

Le tableau comporte 107 observation(s) ou article(s)
Le tableau comporte 2 colonne(s)

In [139]:
#La nature des données dans chacune des colonnes
df_kfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Pays                   107 non-null    object
 1   Nombre de restaurants  107 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

In [141]:
#Affichage des 5 premières lignes de la table
df_kfc.head()

             Pays  Nombre de restaurants
0           Chine                   7980
1      États-Unis                   4062
2           Japon                   1131
3  Afrique du Sud                    955
4     Royaume-Uni                    909

In [143]:
#Affichage du nombre de valeurs nulles dans la colonne 'Nombre de restaurants'
print(f"Il y a {df_kfc['Nombre de restaurants'].isnull().sum()} valeur(s) nulle(s) dans la colonne 'Nombre de restaurants'.")

Il y a 0 valeur(s) nulle(s) dans la colonne 'Nombre de restaurants'.

In [145]:
#Modification du nom de la colonne 'Nombre des restaurants'
df_kfc.rename(columns={'Nombre de restaurants': 'Restaurants KFC'}, inplace=True)

In [147]:
#Modification du nom de la colonne 'Pays'
df_kfc.rename(columns={'Pays': 'Zone'}, inplace=True)

In [149]:
#Afficher la valeur minimum de la colonne 'Restaurants KFC'
print("La valeur mminimum de la colonne 'Restaurants KFC' est de : {}.".format(df_kfc['Restaurants KFC'].min()))
#Afficher la valeur maximum de la colonne 'Restaurants KFC'
print("La valeur maximum de la colonne 'Restaurants KFC' est de : {}".format(df_kfc['Restaurants KFC'].max()))

La valeur mminimum de la colonne 'Restaurants KFC' est de : 1.
La valeur maximum de la colonne 'Restaurants KFC' est de : 7980

In [151]:
#Remplacer la valeur dans la colonne 'Zone' le nom des pays pour qu'ils soient au même format que le df_total
df_kfc.loc[df_kfc['Zone'] == 'États-Unis', 'Zone'] = 'États-Unis d\'Amérique'
df_kfc.loc[df_kfc['Zone'] == 'Chine', 'Zone'] = 'Chine, continentale'
df_kfc.loc[df_kfc['Zone'] == 'Corée du Sud', 'Zone'] = 'République de Corée'
df_kfc.loc[df_kfc['Zone'] == 'Taïwan', 'Zone'] = 'Chine, Taiwan Province de'
df_kfc.loc[df_kfc['Zone'] == 'Royaume-Uni', 'Zone'] = 'Royaume-Uni de Grande-Bretagne et d\'Irlande du Nord'
df_kfc.loc[df_kfc['Zone'] == 'Macédoine', 'Zone'] = 'Macédoine du Nord'
df_kfc.loc[df_kfc['Zone'] == 'Tanzanie', 'Zone'] = 'République-Unie de Tanzanie'

In [153]:
#Jointure du df_kfc au df_total
df_total = pd.merge(df_total, df_kfc, left_on='Zone', right_on='Zone', how='left')

In [155]:
#Remplacer les NaN dans la colonne 'Viandes de volailles exportées en t' par 0
df_total['Restaurants KFC'] = df_total['Restaurants KFC'].fillna(0)

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.7 - Analyse exploratoire du df_stabilitepol</h3>
</div>

In [158]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_stabilitepol.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_stabilitepol.shape[1]))

Le tableau comporte 271 observation(s) ou article(s)
Le tableau comporte 5 colonne(s)

In [160]:
#La nature des données dans chacune des colonnes
df_stabilitepol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   268 non-null    object
 1   Country Code   266 non-null    object
 2   Series Name    266 non-null    object
 3   Series Code    266 non-null    object
 4   2017 [YR2017]  266 non-null    object
dtypes: object(5)
memory usage: 10.7+ KB

In [162]:
#Affichage des 5 premières lignes de la table
df_stabilitepol

,Country Name,Country Code,Series Name,Series Code,2017 [YR2017]
0,Afghanistan,AFG,Political Stability and Absence of Violence/Te...,PV.EST,-2.7949755191803
1,Albania,ALB,Political Stability and Absence of Violence/Te...,PV.EST,0.373770743608475
2,Algeria,DZA,Political Stability and Absence of Violence/Te...,PV.EST,-0.919614315032959
3,American Samoa,ASM,Political Stability and Absence of Violence/Te...,PV.EST,1.18432366847992
4,Andorra,AND,Political Stability and Absence of Violence/Te...,PV.EST,1.39288973808289
...,...,...,...,...,...
266,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN
269,Data from database: World Development Indicators,NaN,NaN,NaN,NaN
270,Last Updated: 11/13/2024,NaN,NaN,NaN,NaN

In [164]:
#Affichage des 5 premières lignes de la table
df_stabilitepol.head()

,Country Name,Country Code,Series Name,Series Code,2017 [YR2017]
0,Afghanistan,AFG,Political Stability and Absence of Violence/Te...,PV.EST,-2.7949755191803
1,Albania,ALB,Political Stability and Absence of Violence/Te...,PV.EST,0.373770743608475
2,Algeria,DZA,Political Stability and Absence of Violence/Te...,PV.EST,-0.919614315032959
3,American Samoa,ASM,Political Stability and Absence of Violence/Te...,PV.EST,1.18432366847992
4,Andorra,AND,Political Stability and Absence of Violence/Te...,PV.EST,1.39288973808289

In [166]:
#Modification du nom de la colonne '2017[YR2017]'
df_stabilitepol.rename(columns={'2017 [YR2017]': 'Stabilite politique', 'Country Name': 'Zone'}, inplace=True)

In [168]:
df_stabilitepol['Stabilite politique'] = pd.to_numeric(df_stabilitepol['Stabilite politique'], errors='coerce')
df_stabilitepol['Stabilite politique'] = df_stabilitepol['Stabilite politique'].round(2)

In [170]:
#Compter les valeurs NaN dans la colonne 'Stabilite politique'
nan_stabpol = df_stabilitepol['Stabilite politique'].isnull().sum()

print(f"Il y a {nan_stabpol} valeur(s) NaN dans la colonne 'Stabilite politique'.")

Il y a 66 valeur(s) NaN dans la colonne 'Stabilite politique'.

In [172]:
#Identifier les lignes où la colonne 'Stabilite politique' contient des valeurs NaN
nan_rows = df_stabilitepol[df_stabilitepol['Stabilite politique'].isnull()]

#Afficher les lignes avec des NaN
nan_rows['Zone'].unique()

print("Je ne tiens pas compte des Zones où les valeurs sont manquantes, comme ce sont des petits territoires, ou des zones géographiques différentes des pays.")

Je ne tiens pas compte des Zones où les valeurs sont manquantes, comme ce sont des petits territoires, ou des zones géographiques différentes des pays.

In [174]:
#Supprimer les lignes où la colonne 'Stabilite politique' est NaN
df_stabilitepol = df_stabilitepol.dropna(subset=['Stabilite politique'])

#Vérification : nombre de valeurs nulles restantes
print(f"Il reste {df_stabilitepol['Stabilite politique'].isnull().sum()} valeur(s) nulle(s) dans la colonne 'Stabilite politique'.")

Il reste 0 valeur(s) nulle(s) dans la colonne 'Stabilite politique'.

In [176]:
#Suppression des colonnes dont nous n'avons plus besoin
df_stabilitepol = df_stabilitepol.drop(['Country Code', 'Series Name', 'Series Code'], axis=1, errors='ignore')

In [178]:
#Afficher la valeur minimum de la colonne 'Stabilité politique'
print("La valeur mminimum de la colonne 'Stabilité politique' est de : {}.".format(df_stabilitepol['Stabilite politique'].min()))
#Afficher la valeur maximum de la colonne 'Stabilité politique'
print("La valeur maximum de la colonne 'Stabilité politique' est de : {}".format(df_stabilitepol['Stabilite politique'].max()))

La valeur mminimum de la colonne 'Stabilité politique' est de : -2.93.
La valeur maximum de la colonne 'Stabilité politique' est de : 1.93

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.9 - Analyse exploratoire du df_dist</h3>
</div>

In [181]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(df_dist.shape[0]))
print("Le tableau comporte {} colonne(s)".format(df_dist.shape[1]))

Le tableau comporte 194 observation(s) ou article(s)
Le tableau comporte 4 colonne(s)

In [183]:
#La nature des données dans chacune des colonnes
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                194 non-null    object
 1   latitude               194 non-null    float64
 2   longitude              194 non-null    float64
 3   distance_to_France_km  194 non-null    float64
dtypes: float64(3), object(1)
memory usage: 6.2+ KB

In [185]:
#Affichage des 5 premières lignes de la table
df_dist.head()

       country   latitude  longitude  distance_to_France_km
0  Afghanistan  33.768006  66.238514            5490.266707
1      Albania   5.758765 -73.915162            8459.788358
2      Algeria  28.000027   2.999983            2070.874498
3      Andorra  42.540717   1.573203             452.432666
4       Angola -11.877577  17.569124            6688.164856

In [187]:
#Modification du nom de la colonne 'country' et 'distance_to_France_km'
df_dist.rename(columns={'distance_to_France_km': 'Distance', 'country': 'Zone'}, inplace=True)

In [189]:
#Arrondir les km en entier
df_dist['Distance'] = df_dist['Distance'].astype(int)

In [191]:
#Compter les valeurs NaN et les valeurs '..' dans la colonne 'Distance'
nan_dist = df_dist['Distance'].isnull().sum()
dot_dist = (df_dist['Distance'] == '..').sum()

print(f"Il y a {nan_dist} valeur(s) NaN et {dot_dist} valeur(s) '..' dans la colonne 'Distance'.")

Il y a 0 valeur(s) NaN et 0 valeur(s) '..' dans la colonne 'Distance'.

In [193]:
#Suppression des colonnes dont nous n'avons plus besoin
df_dist = df_dist.drop(['latitude', 'longitude'], axis=1, errors='ignore')

In [195]:
#Afficher la valeur minimum de la colonne 'Distance'
print("La valeur mminimum de la colonne 'Distance' est de : {}.".format(df_dist['Distance'].min()))
#Afficher la valeur maximum de la colonne 'Distance'
print("La valeur maximum de la colonne 'Distance' est de : {}".format(df_dist['Distance'].max()))

La valeur mminimum de la colonne 'Distance' est de : 0.
La valeur maximum de la colonne 'Distance' est de : 19096

In [197]:
#Jointure du df_prod au df_total
df_total2 = pd.merge(df_stabilitepol, df_dist, left_on='Zone', right_on='Zone', how='inner')

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.10 - Harmonisation du noms des pays</h3>
</div>

In [200]:
pays = {
    'Afghanistan': 'Afghanistan',
    'South Africa': 'Afrique du Sud',
    'Albania': 'Albanie',
    'Algeria': 'Algérie',
    'Germany': 'Allemagne',
    'Angola': 'Angola',
    'Antigua and Barbuda': 'Antigua-et-Barbuda',
    'Saudi Arabia': 'Arabie saoudite',
    'Argentina': 'Argentine',
    'Armenia': 'Arménie',
    'Australia': 'Australie',
    'Austria': 'Autriche',
    'Azerbaijan': 'Azerbaïdjan',
    'Bahamas': 'Bahamas',
    'Bangladesh': 'Bangladesh',
    'Barbados': 'Barbade',
    'Belgium': 'Belgique',
    'Belize': 'Belize',
    'Bolivia': 'Bolivie (État plurinational de)',
    'Bosnia and Herzegovina': 'Bosnie-Herzégovine',
    'Botswana': 'Botswana',
    'Brazil': 'Brésil',
    'Bulgaria': 'Bulgarie',
    'Burkina Faso': 'Burkina Faso',
    'Belarus': 'Bélarus',
    'Benin': 'Bénin',
    'Cabo Verde': 'Cabo Verde',
    'Cambodia': 'Cambodge',
    'Cameroon': 'Cameroun',
    'Canada': 'Canada',
    'Chile': 'Chili',
    'China': 'Chine - RAS de Hong-Kong',
    'China': 'Chine - RAS de Macao',
    'Taiwan': 'Chine, Taiwan Province de',
    'China': 'Chine, continentale',
    'Cyprus': 'Chypre',
    'Colombia': 'Colombie',
    'Congo': 'Congo',
    'Costa Rica': 'Costa Rica',
    'Croatia': 'Croatie',
    'Cuba': 'Cuba',
    "Ivory Coast": "Côte d'Ivoire",
    'Denmark': 'Danemark',
    'Djibouti': 'Djibouti',
    'Dominica': 'Dominique',
    'El Salvador': 'El Salvador',
    'Spain': 'Espagne',
    'Estonia': 'Estonie',
    'Eswatini': 'Eswatini',
    'Fiji': 'Fidji',
    'Finland': 'Finlande',
    'France': 'France',
    'Russia': 'Fédération de Russie',
    'Gabon': 'Gabon',
    'Gambia': 'Gambie',
    'Ghana': 'Ghana',
    'Grenada': 'Grenade',
    'Greece': 'Grèce',
    'Guatemala': 'Guatemala',
    'Guinea': 'Guinée',
    'Guinea-Bissau': 'Guinée-Bissau',
    'Guyana': 'Guyana',
    'Georgia': 'Géorgie',
    'Haiti': 'Haïti',
    'Honduras': 'Honduras',
    'Hungary': 'Hongrie',
    'India': 'Inde',
    'Indonesia': 'Indonésie',
    'Iran': "Iran (République islamique d')",
    'Iraq': 'Iraq',
    'Ireland': 'Irlande',
    'Iceland': 'Islande',
    'Israel': 'Israël',
    'Italy': 'Italie',
    'Jamaica': 'Jamaïque',
    'Japan': 'Japon',
    'Jordan': 'Jordanie',
    'Kazakhstan': 'Kazakhstan',
    'Kenya': 'Kenya',
    'Kyrgyzstan': 'Kirghizistan',
    'Kiribati': 'Kiribati',
    'Kuwait': 'Koweït',
    'Lesotho': 'Lesotho',
    'Latvia': 'Lettonie',
    'Lebanon': 'Liban',
    'Liberia': 'Libéria',
    'Lithuania': 'Lituanie',
    'Luxembourg': 'Luxembourg',
    'North Macedonia': 'Macédoine du Nord',
    'Madagascar': 'Madagascar',
    'Malaysia': 'Malaisie',
    'Malawi': 'Malawi',
    'Maldives': 'Maldives',
    'Mali': 'Mali',
    'Malta': 'Malte',
    'Morocco': 'Maroc',
    'Mauritius': 'Maurice',
    'Mauritania': 'Mauritanie',
    'Mexico': 'Mexique',
    'Mongolia': 'Mongolie',
    'Montenegro': 'Monténégro',
    'Mozambique': 'Mozambique',
    'Myanmar': 'Myanmar',
    'Namibia': 'Namibie',
    'Nicaragua': 'Nicaragua',
    'Niger': 'Niger',
    'Nigeria': 'Nigéria',
    'Norway': 'Norvège',
    'New Caledonia': 'Nouvelle-Calédonie',
    'New Zealand': 'Nouvelle-Zélande',
    'Nepal': 'Népal',
    'Oman': 'Oman',
    'Uganda': 'Ouganda',
    'Pakistan': 'Pakistan',
    'Panama': 'Panama',
    'Paraguay': 'Paraguay',
    'Netherlands': 'Pays-Bas',
    'Philippines': 'Philippines',
    'Poland': 'Pologne',
    'French Polynesia': 'Polynésie française',
    'Portugal': 'Portugal',
    'Peru': 'Pérou',
    'Romania': 'Roumanie',
    'United Kingdom': "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord",
    'Rwanda': 'Rwanda',
    'Central African Republic': 'République centrafricaine',
    'South Korea': 'République de Corée',
    'Moldova': 'République de Moldova',
    'Dominican Republic': 'République dominicaine',
    'North Korea': 'République populaire démocratique de Corée',
    'Tanzania': 'République-Unie de Tanzanie',
    'Saint Kitts and Nevis': 'Saint-Kitts-et-Nevis',
    'Saint Vincent and the Grenadines': 'Saint-Vincent-et-les Grenadines',
    'Saint Lucia': 'Sainte-Lucie',
    'Samoa': 'Samoa',
    'São Tomé and Príncipe': 'Sao Tomé-et-Principe',
    'Serbia': 'Serbie',
    'Sierra Leone': 'Sierra Leone',
    'Slovakia': 'Slovaquie',
    'Slovenia': 'Slovénie',
    'Sudan': 'Soudan',
    'Sri Lanka': 'Sri Lanka',
    'Switzerland': 'Suisse',
    'Suriname': 'Suriname',
    'Sweden': 'Suède',
    'Senegal': 'Sénégal',
    'Tajikistan': 'Tadjikistan',
    'Chad': 'Tchad',
    'Czech Republic': 'Tchéquie',
    'Thailand': 'Thaïlande',
    'Timor-Leste': 'Timor-Leste',
    'Togo': 'Togo',
    'Trinidad and Tobago': 'Trinité-et-Tobago',
    'Tunisia': 'Tunisie',
    'Turkmenistan': 'Turkménistan',
    'Turkey': 'Turquie',
    'Ukraine': 'Ukraine',
    'Uruguay': 'Uruguay',
    'Vanuatu': 'Vanuatu',
    'Venezuela': 'Venezuela (République bolivarienne du)',
    'Vietnam': 'Viet Nam',
    'Yemen': 'Yémen',
    'Zambia': 'Zambie',
    'Zimbabwe': 'Zimbabwe',
    'Egypt': 'Égypte',
    'United Arab Emirates': 'Émirats arabes unis',
    'Ecuador': 'Équateur',
    'United States': "États-Unis d'Amérique",
    'Ethiopia': 'Éthiopie',
    'Solomon Islands': 'Îles Salomon'
}

In [202]:
# Ajout de la colonne avec les noms de pays en français
df_total2['Zone_fr'] = df_total2['Zone'].apply(lambda x: pays.get(x, x))

#Suppression de la colonne 'Zone' dont nous n'avons plus besoin
df_total2 = df_total2.drop(['Zone'], axis=1, errors='ignore')

In [204]:
#Jointure du df_total2 au df_total
df_total= pd.merge(df_total, df_total2, left_on='Zone', right_on='Zone_fr', how='inner')

In [206]:
#Suppression de la colonne 'Zone_fr' dont nous n'avons plus besoin
df_total = df_total.drop(['Zone_fr'], axis=1, errors='ignore')

In [208]:
#Réorganisation des colonnes
cols = list(df_total.columns)
cols.insert(2, cols.pop(cols.index('Population')))
df_total = df_total[cols]

In [210]:
#Visualisation du df_total
df_total

,Zone,Année,Population,Volailles alimentaire en t,Volailles produites en t,Volailles importées en t,Volailles exportées en t,PIB par habitants en $,Restaurants KFC,Stabilite politique,Distance
0,Afghanistan,2017,36296113,55000.0,28000.0,29000.0,0.0,534.02,0.0,-2.79,5490
1,Afrique du Sud,2017,57009756,2035000.0,1667000.0,514000.0,63000.0,6723.93,955.0,-0.28,8702
2,Albanie,2017,2884169,47000.0,13000.0,38000.0,0.0,4521.75,8.0,0.37,8459
3,Algérie,2017,41389189,264000.0,275000.0,2000.0,0.0,4134.94,2.0,-0.92,2070
4,Allemagne,2017,82658409,1609000.0,1514000.0,842000.0,646000.0,44670.22,189.0,0.57,804
...,...,...,...,...,...,...,...,...,...,...,...
140,Émirats arabes unis,2017,9487203,412000.0,48000.0,433000.0,94000.0,43063.97,151.0,0.60,5234
141,Équateur,2017,16785361,324000.0,340000.0,0.0,0.0,6246.40,0.0,-0.08,9449
142,États-Unis d'Amérique,2017,325084756,18100000.0,21914000.0,123000.0,3692000.0,59468.23,4062.0,0.26,7714
143,Éthiopie,2017,106399924,14000.0,14000.0,1000.0,0.0,709.76,0.0,-1.68,5325
144,Îles Salomon,2017,636039,3000.0,0.0,6000.0,0.0,2283.58,0.0,0.19,15278

In [212]:
#Population dans le dataframe
population = df_total['Population'].sum()

#Population mondiale approximative en 2017
population_mondiale = 7_500_000_000

#Calcul du pourcentage de la population mondiale couverte par ce dataframe
pourcentage_population = round((population / population_mondiale) * 100)

f"Le dataframe df_total couvre {pourcentage_population:.2f}% de la population mondiale."

'Le dataframe df_total couvre 88.00% de la population mondiale.'

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">3. - Création de nouveaux indicateurs</h3>
</div>

In [215]:
#Copie de df_total
df_total = df_total.copy()

#Création de la colonne 'balance commerciale'
df_total['Balance'] = (df_total['Volailles exportées en t'] - df_total['Volailles importées en t'])

#Réorganisation des colonnes
cols = list(df_total.columns)
cols.insert(7, cols.pop(cols.index('Balance')))
df_total = df_total[cols]

In [217]:
#Création de la colonne 'volailleskg/habitant'
df_total['volailleskg / habitant'] = ((df_total['Volailles alimentaire en t'] / df_total['Population']) * 1000).round(2)

In [219]:
#Calcul de disponilibité moyenne en 'vollaileskg/habitant'
print("La disponibilité moyenne de volailles par habitant est de {}kg par an.".format(df_total['volailleskg / habitant'].mean().round(2)))

La disponibilité moyenne de volailles par habitant est de 19.36kg par an.

In [221]:
#Création de la colonne 'Deficit en volailles'
df_total['Deficit / habitant'] = (((df_total['volailleskg / habitant'].mean().round(2))) - df_total['volailleskg / habitant'])

In [223]:
df_total

,Zone,Année,Population,Volailles alimentaire en t,Volailles produites en t,Volailles importées en t,Volailles exportées en t,Balance,PIB par habitants en $,Restaurants KFC,Stabilite politique,Distance,volailleskg / habitant,Deficit / habitant
0,Afghanistan,2017,36296113,55000.0,28000.0,29000.0,0.0,-29000.0,534.02,0.0,-2.79,5490,1.52,17.84
1,Afrique du Sud,2017,57009756,2035000.0,1667000.0,514000.0,63000.0,-451000.0,6723.93,955.0,-0.28,8702,35.70,-16.34
2,Albanie,2017,2884169,47000.0,13000.0,38000.0,0.0,-38000.0,4521.75,8.0,0.37,8459,16.30,3.06
3,Algérie,2017,41389189,264000.0,275000.0,2000.0,0.0,-2000.0,4134.94,2.0,-0.92,2070,6.38,12.98
4,Allemagne,2017,82658409,1609000.0,1514000.0,842000.0,646000.0,-196000.0,44670.22,189.0,0.57,804,19.47,-0.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Émirats arabes unis,2017,9487203,412000.0,48000.0,433000.0,94000.0,-339000.0,43063.97,151.0,0.60,5234,43.43,-24.07
141,Équateur,2017,16785361,324000.0,340000.0,0.0,0.0,0.0,6246.40,0.0,-0.08,9449,19.30,0.06
142,États-Unis d'Amérique,2017,325084756,18100000.0,21914000.0,123000.0,3692000.0,3569000.0,59468.23,4062.0,0.26,7714,55.68,-36.32
143,Éthiopie,2017,106399924,14000.0,14000.0,1000.0,0.0,-1000.0,709.76,0.0,-1.68,5325,0.13,19.23
144,Îles Salomon,2017,636039,3000.0,0.0,6000.0,0.0,-6000.0,2283.58,0.0,0.19,15278,4.72,14.64

In [224]:
import os

#Export du dataframe en fichier CSV
documents_path = os.path.expanduser("~/Documents")
file_name = "donneesp11.csv"
full_file_path = os.path.join(documents_path, file_name)
df_total.to_csv(full_file_path, index=False)

print(f"Fichier enregistré ici : {full_file_path}")

Fichier enregistré ici : C:\Users\snowf/Documents\donneesp11.csv